.navbar{
    background-color: #EF233C;
    color: #EDF2F4;
    display: flex;
    justify-content: space-between;
    padding: .8rem 2rem;
    font-weight: 400;
}

.logo{
    font-family: 'Righteous',sans-serif;
}

.nav-items{
    font-family: 'montserrat',sans-serif;
    font-weight: 500;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 2rem;
    font-size: 1.2rem;
    list-style-type: none;
}

li{
    margin: 0 1rem;
}

li:after{
    content: '';
    display: block;
    margin-top: 5%;
    width: 100%;
    height: 5px;
    background: #EDF2F4;
    border-radius: 2px;
    transform: scale(0);
    transition: width .3s ease,transform .3s ease;
}
li:hover::after{
    cursor: pointer;
    transform: scale(1);
}

.selected{
    color: #FDC500;
    font-weight: 800;
}

.navbar>.logo>img{
    width: 40%;
}
.selected::after{
    background-color: #FDC500;
}