.foothead {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 3rem 1rem;
  background-color: #ef233c;
  user-select: none;
}

.foothead > * > h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #fdc500;
}

.foothead > * > p {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.6rem 0;
  padding: 0.4rem 0;
}

.logo {
  width: 20%;
}
.logo > img {
  width: 100%;
}
.foottail {
  width: 100%;
  background-color: #fdc500;
  padding: 0.7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: #000717;
}
p {
  margin: 0;
  padding: 0 0.6rem;
}

.foothead > * > button {
  position: relative;
  margin: 1.3rem 0;
  padding: 1rem 2rem;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ef233c;
  border: 2px solid #000717;
  border-radius: 10px;
  color: #fdc500;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.foothead > * > button span {
  color: #fdc500;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.foothead > * > button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.foothead > * > button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.foothead > * > .btn-shine {
  border: 3px solid;
  overflow: hidden;
  position: relative;
}

.foothead > * > .btn-shine span {
  z-index: 20;
}

.foothead > * > .btn-shine:after {
  background: #fdc500;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.foothead > * > .btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
