.btn-about {
  color: var(--color);
  border: 1px solid var(--color);
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 7px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 2rem;
}

.btn-about:hover {
  background-color: var(--color);
  color: #edf2f4;
  box-shadow: 0 0 10px var(--color), 0 0 40px var(--color),
    0 0 80px var(--color);
  font-weight: 500;
  transition-delay: 100ms;
}
    