.header {
  width: 100%;
  height: 90vh;
  background: #000717;
  background: linear-gradient(330deg, #000717 50%, #161c2a 100%);
  background: -moz-linear-gradient(330deg, #000717 50%, #161c2a 100%);
  background: -webkit-linear-gradient(330deg, #000717 50%, #161c2a 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000717", endColorstr=#161C2A , GradientType=1 );
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}



.header > .image {
  padding: 2rem 4rem;
}

.header > .title {
  padding: 4rem;
  font-family: "montserrat", sans-serif;
  color: #edf2f4;
  line-height: 2.5rem;
  width: 50%;
}
.t1 {
  font-weight: 300;
  font-size: 1.1rem;
}

.t2 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: normal;
  color: #fdc500;
}

.t3 {
  font-weight: 400;
  font-size: 1.2rem;
  width: 70%;
  line-height: 2.3rem;
}
.t1,
.t2,
.t3 {
  margin: 0.4rem 0;
}

.btns {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.btn1 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 3rem;
  margin: 0;
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 10px;
  overflow: hidden;
  background: #9381ff;
  color: #000717;
}

.btn1 > span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.btn1:hover > span {
  color: #edf2f4;
}

.btn1::before,
.btn1::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btn1::before {
  content: "";
  background: #fdc500;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn1:hover::before {
  transform: translate3d(100%, 0, 0);
}

.btn2 {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #f3d35f;
  outline: none;
  background-color: transparent;
  color: #fdc500;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn2::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.btn2::before {
  content: "";
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn2:hover::before,
.btn2:hover::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.btn2:hover {
  -webkit-box-shadow: inset 0px 0px 25px #fdc500;
  box-shadow: inset 0px 0px 25px #fdc500;
}

.inspired {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  overflow: hidden;
}

.inspired > img {
  width: 10rem;
}
