.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  align-content: center;
  background-color: #000717;
}

.body > .card {
  width: 80vw;
  height: 90vh;
  background-color: #edf2f4;
  display: flex;
  justify-content: space-between;
  border: none;
  overflow: hidden;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  transition: all 0.5s ease;
  flex-direction: row;
}

.body > .card > .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: #000717;
  height: 100%;
  padding: 1rem;
  transition: all 0.5s ease;
}

.body > .card > .form > h1 {
  font-weight: 700;
  color: #ef233c;
  font-size: 2rem;
  margin: 1rem;
  transition: all 0.5s ease;
}

.body > .card > .form > p {
  font-size: 1.1rem;
  width: 70%;
  text-align: center;
  transition: all 0.5s ease;
}
.body > .card > .image {
  width: 50%;
  height: 100%;
  background-color: #ef233c;
  display: flex;
  transition: all 0.5s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #edf2f4;
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
}

.body > .card > .image > img {
  width: 100%;
  padding: 4rem;
  transition: all 0.5s ease;
}

.body > .card > .image > * > a {
  color: #fbbc05;
  font-weight: 700;
  transition: all 0.5s ease;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  margin: 1.5rem;
  width: 100%;
}

.buttons > .btn-about {
  margin: 0;
  color: #ef233c;
  transition: all 0.5s ease;
  border: 2px solid #ef233c;
}

.buttons > .btn-about:hover {
  background-color: #ef233c;
  color: #edf2f4;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px #ef233c, 0 0 40px #ef233c, 0 0 80px #ef233c;
}

.fgot {
  color: #ef233c;
  font-weight: 600;
  font-family: "montserrat", sans-serif;
  transition: all 0.2s ease;
  text-align: end;
  text-decoration: none;
}

.fgot:hover {
  text-decoration: underline;
  cursor: pointer;
}
